<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-danger"><%= task.errors.count %> 件のエラーが発生しました</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "col-sm-12 col-12" %>
  </div>

  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content, class: "col-sm-12 col-12" %>
  </div>

  <div class="field">
    <%= form.label :deadline %><br>
    <%= form.date_field :deadline %>
  </div>

  <div class="field">
    <%= form.label :status %><br>
    <%= form.radio_button :status, "未対応" %>未対応
    <%= form.radio_button :status, "対応中" %>対応中
    <% unless task.new_record? %>
      <%= form.radio_button :status, "完了" %>完了
    <% end %>
  </div>

  <div class="field">
    <%= form.label :priority %><br>
    <%= form.select :priority, [["低", "low"], ["中", "middle"], ["高", "high"]], {}, {class: 'form-select'} %>
  </div>

  <div class="actions">
    <%= form.submit :class=>"btn btn-success mt-3" %>
  </div>
<% end %>
