<h1>アサイン</h1>
<p>現在アサインされているユーザ</p>
<p><%= @task.user.name %></p>

<%= form_with(model: @task, method: :patch, url: task_path) do |form| %>
  <%= form.label :user_id, "新しくアサインするユーザ" %><br>
  <%= form.collection_select :user_id, User.all, :id, :name %>
  <%= form.submit %>
<% end %>

<div class="col-xs-7 mt-5 task-panel">
  <h2><%= @task.title %></h2>
  <p><%= @task.content %></p>
  <p>期限：<%= @task.deadline %></p>
  <p>担当者：<%= @task.user.name %></p>
  <p>ステータス：<%= @task.status %></p>
</div>
