<div class="container">

  <h1 class="my-3"><%= @task.title %></h1>

  <table class="table table-striped my-5">
      <tbody>
        <tr>
          <td>内容</td>
          <td><%= @task.content %></td>
        </tr>
        <tr>
          <td>期限</td>
          <td><%= @task.deadline.to_date.strftime("%Y年 %m月 %d日") %></td>
        </tr>
        <tr>
          <td>担当者</td>
          <td><%= @task.user.name %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @task.status %></td>
        </tr>
        <tr>
          <td>優先度</td>
          <td>
            <%= @task.translate_priority %>
          </td>
        </tr>
      </tbody>
    </table>

  <% if current_user == @task.user %>
    <%= link_to edit_task_path(@task), class: "btn btn-primary text-white mt-3 me-2" do %>
      <i class="fa-solid fa-pen"></i> 編集
    <% end %>
    <%= link_to assign_task_path, class: "btn btn-success mt-3 me-2" do %>
      <i class="fa-solid fa-person"></i> アサイン
    <% end %>
  <% end %>
  <%= link_to :back, class: "btn btn-outline-dark mt-3 me-2" do %>
    <i class="fa-solid fa-backward-step"></i> 戻る
  <% end %>
  <%= link_to tasks_path, class: "btn btn-outline-dark mt-3" do %>
    <i class="fa-solid fa-house"></i> TOP
  <% end %>

  <div class="text-center">
    <h1 class="my-5">新規コメント</h1>

    <%= form_with(model:[@task, @comment], local: true) do |f| %>
    <div class="field">
      <%= f.text_area :content, :size=>"60x3",placeholder: "コメントする", class: "col-sm-10 col-12" %>
    </div>
    <div class="field">
      <%= f.hidden_field :task_id, value: @task.id %>
    </div>
    <div class="actions">
      <%= f.submit "Comment", class: "btn btn-success my-4" %>
    </div>
    <% end %>

    <%= render "comments", comments: @comments %>
  </div>
</div>
