<div class="container">
  <div class="row justify-content-between">
    <div class="d-flex align-items-center">
      <h1 class="my-3 me-auto"><%= title %></h1>
      <%= link_to :back, class: "btn btn-outline-dark mt-3" do %>
        <i class="fa-solid fa-backward-step"></i> 戻る
      <% end %>
    </div>
    <% @complete_tasks.each do |task| %>
      <div class="col-xs-12 col-md-5 px-0 task-panel border rounded border-secondary">
        <div class="text-break">
          <h3 class="text-white p-3 bg-secondary"><%= task.title %></h3>
        </div>
        <div class="p-3">
          <p class="text-break">内容：<%= task.content %></p>
          <p>期限：<%= task.deadline.to_date.strftime("%Y年 %m月 %d日") %></p>
          <p>担当者：<%= task.user.name %></p>
          <p>ステータス：<%= task.status %></p>
          <div class="blog-links">
            <%= link_to task, class: 'btn btn-outline-dark me-2' do %>
              <i class="fa-solid fa-circle-info", data-toggle="tooltip", data-placement="top", title="詳細"></i>
            <% end %>
            <% if current_user == task.user %>
              <%= link_to edit_task_path(task), class: 'btn btn-outline-dark me-2' do %>
                <i class="fa-solid fa-pen", data-toggle="tooltip", data-placement="top", title="編集"></i>
              <% end %>
              <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
                <i class="fa-solid fa-trash", data-toggle="tooltip", data-placement="top", title="削除"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @complete_tasks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
