<div class="container">
  <div class="d-md-flex align-items-center">
    <h1 class="my-3 me-2"><%= title %></h1>
    <%= link_to new_task_path, class: "btn btn-outline-dark align-self-start me-auto my-3" do %>
      <i class="fa-solid fa-plus"></i> 新規タスク作成
    <% end %>
    <% if title == "タスク一覧" %>
      <%= link_to "完了タスク一覧", complete_tasks_path, class: "my-3 btn btn-outline-dark" %>
    <% elsif title == "マイタスク"  %>
      <%= link_to "完了マイタスク一覧", complete_mytasks_path, class: "my-3 btn btn-outline-dark" %>
    <% end %>
  </div>

  <div class="d-md-flex">
    <div class="me-auto my-md-0 my-2">
      <% if title == "タスク一覧" %>
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_cont, placeholder: "タイトル", maxlength: 100, size: 32 %>
          <%= f.submit '検索' %>
        <% end %>
      <% elsif title == "マイタスク" %>
        <%= search_form_for @q, url: mytask_path do |f| %>
          <%= f.search_field :title_cont, placeholder: "タイトル", maxlength: 100, size: 32 %>
          <%= f.submit '検索' %>
        <% end %>
      <% end %>
    </div>
    <%= sort_link(@q, :priority, "優先度ソート", { default_order: :desc }, { class: "me-3" }) %>
    <%= sort_link(@q, :deadline, "期限ソート") %>
  </div>

  <div class="row justify-content-between">
    <% incomplete_tasks.each do |task| %>
      <div id="task<%= task.id %>" class="col-xs-12 col-md-5 px-0 task-panel border rounded <%=  Date.today > task.deadline ? "border-danger" : "border-success" %>">
        <div class="text-break">
          <h3 class="text-white p-3 <%= Date.today > task.deadline ? "bg-danger" : "bg-success" %>"><%= task.title %></h3>
        </div>
        <div class="p-3">
          <p class="text-break">内容：<%= task.content %></p>
          <p>期限：<%= task.deadline.to_date.strftime("%Y年 %m月 %d日") %></p>
          <p>担当者：<%= task.user.name %></p>
          <p>ステータス：<%= task.status %></p>
          <p>優先度：
            <span class="<%= "text-danger" if task.priority == "high" %>"><%= task.translate_priority %></span>
          </p>
          <div class="blog-links d-flex">
            <%= link_to task, class: 'btn btn-outline-dark me-2' do %>
              <i class="fa-solid fa-circle-info", data-toggle="tooltip", data-placement="top", title="詳細"></i>
            <% end %>
            <% if current_user == task.user %>
              <%= link_to edit_task_path(task), class: 'btn btn-outline-dark me-2' do %>
                <i class="fa-solid fa-pen", data-toggle="tooltip", data-placement="top", title="編集"></i>
              <% end %>
              <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger me-auto' do %>
                <i class="fa-solid fa-trash", data-toggle="tooltip", data-placement="top", title="削除"></i>
              <% end %>
              <%= button_to done_task_path(task), method: :post, remote: true, class: "btn btn-primary" do %>
                <i id="complete_button<%= task.id %>" class="fa-solid fa-circle-check", data-toggle="tooltip", data-placement="top", title="完了"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate incomplete_tasks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
